<body style="background-color: lightblue">
<h1>HER ÇOCUK ÖZELDİR...</h1>

<%= image_tag("Anasayfa.png", :alt => "rss feed") %>

<p>Bireyler farklı düşünüş tarzlarına sahiptir ve daha anaokulu eğitiminde bu farklılıklar dikkate alınırsa,
  çocuklarımıza çok daha parlak bir gelecek sunmuş olacağız.</p>

<%= stylesheet_link_tag "index" %>
<%= link_to 'Çocuğunuzu Keşfetmek İçin Tıklayınız.', about_path%>
</body>
